<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helpyouworkeasy.persistence.EvectionMapper">
  <insert id="insertEvection" parameterType="Evection">
    INSERT INTO tbl_evection (employee_code,employee_name,dept,evection_addr,evection_reason,memo,lead_head,opt_user,status,id,evection_date,back_date,opt_time,days,is_deleted)
    VALUES (#{employee_code}, #{employee_name}, #{dept}, #{evection_addr}, #{evection_reason}, #{memo}, #{lead_head}, #{opt_user}, #{status}, #{id}, #{evection_date}, #{back_date}, #{opt_time}, #{days},#{is_deleted})
  </insert>

  <update id="updateEvection" parameterType="Evection">
    update tbl_evection set 
    employee_code=#{employee_code},employee_name=#{employee_name},dept=#{dept},evection_addr=#{evection_addr},evection_reason=#{evection_reason},memo=#{memo},lead_head=#{lead_head},opt_user=#{opt_user},status=#{status},evection_date=#{evection_date},back_date=#{back_date},opt_time=#{opt_time},days=#{days}
    where id=#{id}
  </update>

  <select id="getEvectionListCount" parameterType="map" resultType="int">
    select count(*) as value 
    from tbl_evection where is_deleted=0 
    <if test="o.employee_name != '' and o.employee_name != null" >
      and employee_name like '%${o.employee_name}%'
    </if>
    <if test="o.dept != '' and o.dept != null" >
      and dept=#{o.dept}
    </if>
    <if test="o.status != '' and o.status != null" >
      and status=#{o.status}
    </if>
    <if test="time1 != -1" >
      and evection_date>=#{time1}
    </if>
    <if test="time2 != -1" >
      and #{time2}>=evection_date
    </if>
  </select>

  <select id="getEvectionPageList" parameterType="map" resultType="Evection">
    select 
    employee_code,employee_name,dept,evection_addr,evection_reason,memo,lead_head,opt_user,status,id,evection_date,back_date,opt_time,days
    from tbl_evection where is_deleted=0 
    <if test="o.employee_name != '' and o.employee_name != null" >
      and employee_name like '%${o.employee_name}%'
    </if>
    <if test="o.dept != '' and o.dept != null" >
      and dept=#{o.dept}
    </if>
    <if test="o.status != '' and o.status != null" >
      and status=#{o.status}
    </if>
    <if test="time1 != -1" >
      and evection_date>=#{time1}
    </if>
    <if test="time2 != -1" >
      and #{time2}>=evection_date
    </if>
  <if test="orderName != '' " >
    order by ${orderName} ${orderAZ}
  </if>
  limit #{pageStart},#{pageSize}
  </select>

  <select id="getEvectionById" parameterType="long" resultType="Evection">
    select *
    from tbl_evection
    where id=#{value}
  </select>
  
  <update id="updateApplyStatus" parameterType="map">
     update tbl_evection set status=#{status} where id=#{apply_id}
  </update>
  
  <update id="deleteEvection" parameterType="long">
     update tbl_evection set is_deleted=1 where id=#{value}
  </update>

</mapper>